label,button,table{
  font-family: "Times New Roman";
}
.card-body{
  font-family: "Times New Roman";

}
.card-title{
  font-family: "Times New Roman";
}
h1{
  font-family: "Times New Roman";
}
body{

  font-family: "Times New Roman";
}
.content{
  font-family: "Times New Roman";
}

